<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ArticlesItem ANY>
<!ATTLIST ArticlesItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT ProjectsItem ANY>
<!ATTLIST ProjectsItem id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1066" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-09-01T11:30:07" updateDate="2015-10-08T12:44:44" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1054" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1053" nodeTypeAlias="HomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <overskrift><![CDATA[Welcome]]></overskrift>
    <underoverskrift><![CDATA[A website for AarhusWebDevCoop]]></underoverskrift>
    <billede><![CDATA[/media/1008/forside.jpg]]></billede>
    <sitetitle><![CDATA[Velkommen]]></sitetitle>
    <maincontent><![CDATA[<p>Dette er forsiden</p>]]></maincontent>
    <forsideGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Overskrift",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "62911bb5-80e4-c197-9c57-2ca4317bf122"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p>Tekst 1</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 8,
              "controls": [
                {
                  "value": "<p>Tekst 2</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "c4b8fdeb-9318-0a2b-48f2-86c8ae012f82"
        }
      ]
    }
  ]
}]]></forsideGrid>
    <TextPage id="1068" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2015-09-01T12:31:27" updateDate="2015-10-26T12:13:22" nodeName="About" urlName="about" path="-1,1066,1068" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <overskrift><![CDATA[About us]]></overskrift>
      <underoverskrift><![CDATA[See more about who AarhusWebDevCoop are]]></underoverskrift>
      <billede><![CDATA[/media/1005/om-os.jpg]]></billede>
      <textpagetitle><![CDATA[About AarhusWebDevCoop]]></textpagetitle>
      <textpagecontent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis volutpat volutpat. Vestibulum a risus nec purus volutpat ultricies interdum et nulla. Vivamus laoreet magna eget congue sollicitudin. Donec efficitur nunc libero, tristique ultrices justo iaculis id.</p>
<p>Proin egestas orci pharetra scelerisque finibus. Suspendisse tincidunt ligula non diam maximus, eu posuere neque commodo. Donec viverra vehicula elit tincidunt pulvinar. Maecenas fringilla porta tincidunt. Proin venenatis vulputate ullamcorper. Nullam tristique eleifend diam. Proin varius risus finibus feugiat vehicula. Nullam felis enim, suscipit quis leo eu, facilisis laoreet metus.</p>]]></textpagecontent>
      <grid><![CDATA[{
  "name": "3 colums",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "name": "Overskrift",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "39e17a67-d22e-0570-2ff3-0de9bd4ff5c5"
        },
        {
          "name": "Indhold",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis volutpat volutpat.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "61222200-b6b9-22d8-3b15-2a9c07492317"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Overskrift",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "702da052-6e18-0a6b-da44-6415fb12e944"
        },
        {
          "name": "Indhold",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis volutpat volutpat.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "95058d68-5baf-6619-cdf7-2638f4ba0e6f"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Overskrift",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "ce9b4c73-8441-aef6-9616-b1967bbe507f"
        },
        {
          "name": "Indhold",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis volutpat volutpat.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "7869a3ce-d7a4-ad88-fbc3-af879b45c5f0"
        }
      ]
    }
  ]
}]]></grid>
    </TextPage>
    <ProjectsMain id="1070" parentID="1066" level="2" creatorID="0" sortOrder="2" createDate="2015-09-08T09:48:40" updateDate="2015-09-08T09:48:40" nodeName="Our Projects" urlName="our-projects" path="-1,1066,1070" isDoc="" nodeType="1064" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1063" nodeTypeAlias="ProjectsMain">
      <projectsmaintitle><![CDATA[Our Projects]]></projectsmaintitle>
      <projectsmaincontent><![CDATA[<p>Dette er projekterne</p>]]></projectsmaincontent>
      <ProjectsItem id="1081" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2015-09-18T09:52:27" updateDate="2015-10-26T11:31:51" nodeName="Project 1" urlName="project-1" path="-1,1066,1070,1081" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <overskrift><![CDATA[Project 1]]></overskrift>
        <underoverskrift><![CDATA[This is project 1]]></underoverskrift>
        <billede><![CDATA[/media/1010/projekt.jpg]]></billede>
        <projectstitle><![CDATA[Project 1]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 1</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
      <ProjectsItem id="1082" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2015-09-18T09:56:00" updateDate="2015-10-26T11:32:47" nodeName="Project 2" urlName="project-2" path="-1,1066,1070,1082" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <overskrift><![CDATA[Project 2]]></overskrift>
        <underoverskrift><![CDATA[This is project 2]]></underoverskrift>
        <billede><![CDATA[/media/1011/projekt.jpg]]></billede>
        <projectstitle><![CDATA[Project 2]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 2</p>]]></projectscontent>
        <status><![CDATA[Idea]]></status>
      </ProjectsItem>
      <ProjectsItem id="1083" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2015-09-18T09:56:18" updateDate="2015-10-26T11:33:12" nodeName="Project 3" urlName="project-3" path="-1,1066,1070,1083" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <overskrift><![CDATA[Project 3]]></overskrift>
        <underoverskrift><![CDATA[This is project 3]]></underoverskrift>
        <billede><![CDATA[/media/1012/projekt.jpg]]></billede>
        <projectstitle><![CDATA[Project 3]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 3</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
      <ProjectsItem id="1084" parentID="1070" level="3" creatorID="0" sortOrder="3" createDate="2015-09-18T09:56:54" updateDate="2015-10-26T11:33:43" nodeName="Project 4" urlName="project-4" path="-1,1066,1070,1084" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <overskrift><![CDATA[Project 4]]></overskrift>
        <underoverskrift><![CDATA[This is project 4]]></underoverskrift>
        <billede><![CDATA[/media/1013/projekt.jpg]]></billede>
        <projectstitle><![CDATA[Project 4]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 4</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
      <ProjectsItem id="1085" parentID="1070" level="3" creatorID="0" sortOrder="4" createDate="2015-09-18T10:23:07" updateDate="2015-10-26T11:34:08" nodeName="Project 5" urlName="project-5" path="-1,1066,1070,1085" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <overskrift><![CDATA[Project 5]]></overskrift>
        <underoverskrift><![CDATA[This is project 5]]></underoverskrift>
        <billede><![CDATA[/media/1014/projekt.jpg]]></billede>
        <projectstitle><![CDATA[Project 5]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 5</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
    </ProjectsMain>
    <ArticlesMain id="1071" parentID="1066" level="2" creatorID="0" sortOrder="3" createDate="2015-09-08T09:52:37" updateDate="2015-09-08T09:52:37" nodeName="Articles" urlName="articles" path="-1,1066,1071" isDoc="" nodeType="1060" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1059" nodeTypeAlias="ArticlesMain">
      <articlesmaintitle><![CDATA[Articles]]></articlesmaintitle>
      <articlesmaincontent><![CDATA[<p>Dette er Articles</p>]]></articlesmaincontent>
      <ArticlesItem id="1072" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2015-09-08T09:53:04" updateDate="2015-10-26T11:37:52" nodeName="Article 1" urlName="article-1" path="-1,1066,1071,1072" isDoc="" nodeType="1058" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1057" nodeTypeAlias="ArticlesItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <overskrift><![CDATA[News]]></overskrift>
        <underoverskrift><![CDATA[This is a news]]></underoverskrift>
        <billede><![CDATA[/media/1015/nyheder.jpg]]></billede>
        <articlestitle><![CDATA[Article 1]]></articlestitle>
        <articlescontent><![CDATA[<p>Dette er Article 1</p>]]></articlescontent>
        <articlesauthor><![CDATA[Nikolaj]]></articlesauthor>
      </ArticlesItem>
    </ArticlesMain>
    <Contactpage id="1076" parentID="1066" level="2" creatorID="0" sortOrder="4" createDate="2015-09-15T09:34:33" updateDate="2015-10-07T17:41:17" nodeName="Contact Us" urlName="contact-us" path="-1,1066,1076" isDoc="" nodeType="1074" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1073" nodeTypeAlias="Contactpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <overskrift><![CDATA[Contact us]]></overskrift>
      <underoverskrift><![CDATA[Contact us if you have questions]]></underoverskrift>
      <billede><![CDATA[/media/1006/kontakt.jpg]]></billede>
      <contactpagetitle><![CDATA[Contact us]]></contactpagetitle>
      <contactpagecontent><![CDATA[<p>Contact us and we will return as soon as possible.</p>]]></contactpagecontent>
    </Contactpage>
    <TextPage id="1096" parentID="1066" level="2" creatorID="0" sortOrder="5" createDate="2015-09-22T10:59:26" updateDate="2015-10-08T12:22:00" nodeName="Login" urlName="login" path="-1,1066,1096" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1095" nodeTypeAlias="TextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <overskrift><![CDATA[Login]]></overskrift>
      <underoverskrift><![CDATA[Please login to see this page]]></underoverskrift>
      <billede><![CDATA[/media/1007/login.jpg]]></billede>
      <textpagetitle><![CDATA[Login]]></textpagetitle>
      <textpagecontent><![CDATA[<p>Please log in to view this page.</p>]]></textpagecontent>
    </TextPage>
    <Members id="1097" parentID="1066" level="2" creatorID="0" sortOrder="6" createDate="2015-09-22T11:16:00" updateDate="2015-10-26T11:28:09" nodeName="Members" urlName="members" path="-1,1066,1097" isDoc="" nodeType="1100" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1099" nodeTypeAlias="Members">
      <umbracoNaviHide>0</umbracoNaviHide>
      <overskrift><![CDATA[Members]]></overskrift>
      <underoverskrift><![CDATA[See the people behind AarhusWebDevCoop]]></underoverskrift>
      <billede><![CDATA[/media/1009/om-os.jpg]]></billede>
    </Members>
    <TextPage id="1098" parentID="1066" level="2" creatorID="0" sortOrder="7" createDate="2015-09-22T11:19:07" updateDate="2015-09-22T13:16:12" nodeName="Forbidden acces" urlName="forbidden-acces" path="-1,1066,1098" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <textpagetitle><![CDATA[Forbidden acces]]></textpagetitle>
      <textpagecontent><![CDATA[<p>You do not have acces to this page</p>]]></textpagecontent>
    </TextPage>
  </HomePage>
</root>