<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ArticlesItem ANY>
<!ATTLIST ArticlesItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT ProjectsItem ANY>
<!ATTLIST ProjectsItem id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1066" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-09-01T11:30:07" updateDate="2015-09-22T13:12:23" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1054" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1053" nodeTypeAlias="HomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <sitetitle><![CDATA[Forside]]></sitetitle>
    <maincontent><![CDATA[<p>Dette er forsiden</p>]]></maincontent>
    <forsideGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Overskrift",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "62911bb5-80e4-c197-9c57-2ca4317bf122"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p>Tekst 1</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 8,
              "controls": [
                {
                  "value": "<p>Tekst 2</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "c4b8fdeb-9318-0a2b-48f2-86c8ae012f82"
        }
      ]
    }
  ]
}]]></forsideGrid>
    <TextPage id="1067" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2015-09-01T12:21:43" updateDate="2015-09-22T13:11:44" nodeName="Testside" urlName="testside" path="-1,1066,1067" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <textpagetitle><![CDATA[Testside]]></textpagetitle>
      <textpagecontent><![CDATA[<p>Dette er en testside</p>]]></textpagecontent>
    </TextPage>
    <TextPage id="1068" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2015-09-01T12:31:27" updateDate="2015-09-01T12:31:27" nodeName="About" urlName="about" path="-1,1066,1068" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <textpagetitle><![CDATA[About]]></textpagetitle>
      <textpagecontent><![CDATA[<p>About us</p>]]></textpagecontent>
    </TextPage>
    <ProjectsMain id="1070" parentID="1066" level="2" creatorID="0" sortOrder="2" createDate="2015-09-08T09:48:40" updateDate="2015-09-08T09:48:40" nodeName="Our Projects" urlName="our-projects" path="-1,1066,1070" isDoc="" nodeType="1064" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1063" nodeTypeAlias="ProjectsMain">
      <projectsmaintitle><![CDATA[Our Projects]]></projectsmaintitle>
      <projectsmaincontent><![CDATA[<p>Dette er projekterne</p>]]></projectsmaincontent>
      <ProjectsItem id="1081" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2015-09-18T09:52:27" updateDate="2015-09-18T09:52:27" nodeName="Project 1" urlName="project-1" path="-1,1066,1070,1081" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <projectstitle><![CDATA[Project 1]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 1</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
      <ProjectsItem id="1082" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2015-09-18T09:56:00" updateDate="2015-09-18T10:29:27" nodeName="Project 2" urlName="project-2" path="-1,1066,1070,1082" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <projectstitle><![CDATA[Project 2]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 2</p>]]></projectscontent>
        <status><![CDATA[Idea]]></status>
      </ProjectsItem>
      <ProjectsItem id="1083" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2015-09-18T09:56:18" updateDate="2015-09-18T09:56:26" nodeName="Project 3" urlName="project-3" path="-1,1066,1070,1083" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <projectstitle><![CDATA[Project 3]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 3</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
      <ProjectsItem id="1084" parentID="1070" level="3" creatorID="0" sortOrder="3" createDate="2015-09-18T09:56:54" updateDate="2015-09-18T10:29:18" nodeName="Project 4" urlName="project-4" path="-1,1066,1070,1084" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <projectstitle><![CDATA[Project 4]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 4</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
      <ProjectsItem id="1085" parentID="1070" level="3" creatorID="0" sortOrder="4" createDate="2015-09-18T10:23:07" updateDate="2015-09-18T10:23:07" nodeName="Project 5" urlName="project-5" path="-1,1066,1070,1085" isDoc="" nodeType="1062" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <projectstitle><![CDATA[Project 5]]></projectstitle>
        <projectscontent><![CDATA[<p>Dette er Project 5</p>]]></projectscontent>
        <status><![CDATA[Completed]]></status>
      </ProjectsItem>
    </ProjectsMain>
    <ArticlesMain id="1071" parentID="1066" level="2" creatorID="0" sortOrder="3" createDate="2015-09-08T09:52:37" updateDate="2015-09-08T09:52:37" nodeName="Articles" urlName="articles" path="-1,1066,1071" isDoc="" nodeType="1060" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1059" nodeTypeAlias="ArticlesMain">
      <articlesmaintitle><![CDATA[Articles]]></articlesmaintitle>
      <articlesmaincontent><![CDATA[<p>Dette er Articles</p>]]></articlesmaincontent>
      <ArticlesItem id="1072" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2015-09-08T09:53:04" updateDate="2015-09-08T09:53:04" nodeName="Article 1" urlName="article-1" path="-1,1066,1071,1072" isDoc="" nodeType="1058" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1057" nodeTypeAlias="ArticlesItem">
        <articlestitle><![CDATA[Article 1]]></articlestitle>
        <articlescontent><![CDATA[<p>Dette er Article 1</p>]]></articlescontent>
        <articlesauthor><![CDATA[Nikolaj]]></articlesauthor>
      </ArticlesItem>
    </ArticlesMain>
    <Contactpage id="1076" parentID="1066" level="2" creatorID="0" sortOrder="4" createDate="2015-09-15T09:34:33" updateDate="2015-09-15T09:40:43" nodeName="Contact Us" urlName="contact-us" path="-1,1066,1076" isDoc="" nodeType="1074" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1073" nodeTypeAlias="Contactpage">
      <contactpagetitle><![CDATA[Contact us]]></contactpagetitle>
      <contactpagecontent><![CDATA[<p>Dette er kontaktsiden</p>]]></contactpagecontent>
    </Contactpage>
    <TextPage id="1096" parentID="1066" level="2" creatorID="0" sortOrder="5" createDate="2015-09-22T10:59:26" updateDate="2015-09-22T10:59:26" nodeName="Login" urlName="login" path="-1,1066,1096" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1095" nodeTypeAlias="TextPage">
      <textpagetitle><![CDATA[Login]]></textpagetitle>
      <textpagecontent><![CDATA[<p>Her kan du logge ind</p>]]></textpagecontent>
    </TextPage>
    <TextPage id="1097" parentID="1066" level="2" creatorID="0" sortOrder="6" createDate="2015-09-22T11:16:00" updateDate="2015-09-22T12:31:34" nodeName="Members" urlName="members" path="-1,1066,1097" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1099" nodeTypeAlias="TextPage">
      <textpagetitle><![CDATA[Members]]></textpagetitle>
      <textpagecontent><![CDATA[<p>Our members:</p>]]></textpagecontent>
    </TextPage>
    <TextPage id="1098" parentID="1066" level="2" creatorID="0" sortOrder="7" createDate="2015-09-22T11:19:07" updateDate="2015-09-22T13:16:12" nodeName="Forbidden acces" urlName="forbidden-acces" path="-1,1066,1098" isDoc="" nodeType="1056" creatorName="Nikolaj Storgaard Pedersen" writerName="Nikolaj Storgaard Pedersen" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <textpagetitle><![CDATA[Forbidden acces]]></textpagetitle>
      <textpagecontent><![CDATA[<p>You do not have acces to this page</p>]]></textpagecontent>
    </TextPage>
  </HomePage>
</root>