@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<h2>@Umbraco.Field("contactpagetitle")</h2>
	<p>@Umbraco.Field("contactpagecontent")</p>
	@Html.Action("Index", "ContactFormSurface")