@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
	
<p>@Umbraco.Field("maincontent")</p>
	@Umbraco.RenderMacro("RenderCompletedProjects")
	@CurrentPage.GetGridHtml("forsideGrid")